:root {
	--tabulanil-sanity-color-1: #757575;
	--tabulanil-sanity-color-2: #5F5C8F;
	--tabulanil-sanity-color-3: #48548C;
}

.sanity-points::before {
  background: linear-gradient(to right, var(--tabulanil-sanity-color-1) 0%, var(--tabulanil-sanity-color-2) 100%) !important;
  border-right: var(--border-width) solid var(--tabulanil-sanity-color-3) !important;
}

.sanity-tier > span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  font-weight: bold;
  background: none;
}

.sanity-tier > * {
  color: var(--tabulanil-sanity-color-2) !important;
}
